body {

	background-color: black;
	overflow: hidden;
}

h1, p {

	color: white;
}

.healthButton {

	visibility: hidden;
}

.textMenu {
	width:  400px;
	height: 600px;

	position: absolute;
	top: 19%;
	left: 50%;

	margin-left: -13.5%;

	text-align: center;
	font-size: 40px;
}

.buttonPanel {

	width: 50%;
	height: 20%;

	border-style: solid none solid none;
	border-width: 0.5px;
	border-color: white;

	position: absolute;
	top: 30%;
	left: 24%;

	visibility:  visible;
}

.startMenu {

 visibility: visible; 
}

.yesnoMenu, .swordMenu {

 visibility: hidden; 
}

.startButton {

	width: 32%;
	height: 100%;

	background-color: black;
	color: white;

	margin: 5% 0px 0px 34%;
	
	border: none;
	font-size: 50px;
	text-align: center;
}

.startButton:hover {

	color: gray;
}

.startButton:focus {

	outline: 0;
}

.yesnoButton {

	width: 50%;
	height: 100%;

	background-color: black;
	color: white;

	border: none;	
	font-size: 50px;
	text-align: center;

	float: left;
	margin-left: -12px;
	margin-top: -50px;
}

.yesnoButton:hover {

	color: gray;
}

.yesnoButton:focus {

	outline: 0;
}

.swordButton {

	width: 32%;
	height: 100%;

	background-color: black;
	color: white;

	border: none;	
	font-size: 50px;
	text-align: center;

	float: left;
	margin-top: -50px;
}

.swordButton:hover {

	color: gray;
}

.swordButton:focus {

	outline: 0;
}